html{
	overflow-y: scroll; /* Invalid? But it works */
	font-size: 1em;
}

html,body{
	background: #282828;
/*	background: #ECEFF4; /* Nord */
	font-family: 'Open Sans', sans-serif;
}

.main{
	max-width: 960px;
	padding: 0 1%;
	margin: 0 auto;
}

/* Text */
h1, h2, h3, h4, h5{
	color: #98971a;
/*	color: #3B4252; /* Nord  */
	font-weight: bold;
	margin: 0.25em 0;
}

p{
	color: #a89984;
/*	color: #3B4252; /* Nord  */
	margin: 0.5em 0;
}

ul p{
	margin: 0.1em 0;
}

h1{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1em;
}

h2{
	font-size: 1em;
}

h3{
	font-size: 1em;
}

p{
	line-height: 1.2em;
}

/* Links */
a{
	text-decoration: none;
	color: #458588;
}

a:hover{
	color: #b16286;
}

.anchor, .anchor:hover{
	color: #98971a;
	cursor: default;
}

/* Lists */
ul{

}
/* Positions */
section, article{
	margin-bottom: 2em;
}

.item{
	margin-left: 1em;
	margin-bottom: 1em;
}


/* Stuff */
.home h2{
	font-size: 1em;
}


/* Footer */
footer{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 0.5em;
}

footer p{
	margin: 0;
	line-height: 1em;
}

/* Header */
header{
	padding: 0.5em 0;
	margin-bottom: 2em;
	background: #98971a;
}

header *{
	vertical-align: middle;
}

header h1{
	display: inline-block;
	text-align: left;
	width: 18.5%;
	margin: 0;
	font-size: 1.2em;
	color: #282828;
}

/* Navigation */
nav{
	text-align: right;
	display: inline-block;
	width: 80%;
}

nav ul{
	display: inline-block;
	margin-left: 0;
	list-style-type: none;
}

nav ul li p{
	display: inline-block;
}

nav ul li{
	display: inline-block;		
}

nav a{
	color: #282828;
}

nav a:hover{
	color: #d78821;
}

.content{
	padding-bottom: 2em;
}

.content-list section{
	width: 49.5%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
}
/* cc241d red
d79921 yellow
689d6a aqua 
458588 blue*
purple b16286 */
