@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000;}
	a:link {color:#9cf;}
	a:hover, a:visited:hover {color:#cef;}
	a:visited {color:#9ce;}
}
@media print{
	body{
		max-width:none
	}
}

body{
	margin:0.2em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif;
}
h1,h2,h3 {
	line-height:1.2;
}
header{
	line-height: 1.2em;
}
header h1{
	margin-bottom: 0;
}

a{
	text-decoration: none;
}

nav p{
	display: inline-block;
	padding: 0;
	margin: 0.4em 0;
	margin-right: 0.6em;
}
nav a{
}
nav hr{
	margin: 0;
}

html, body {
	height: 100%;
}
body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10em;
}
main{
	flex: 1 0 auto;
}
ul{
	padding-left: 0;
	list-style-position: inside;
	display: inline-block;
	margin: 0;
}
ul p{
	display: inline-block;
	margin: 0.5em 0;
}
footer {
	flex-shrink: 0;
}
footer p{
	margin: 0;
}

.item{
	display: inline-block;
	width: 47%;
	/*
	background: red;
	border: 1px solid black;
	*/
	vertical-align: top;
	margin: 1%;
}
