html{
	font-size: 16px;
}
body{
	margin:0.2rem auto;
	max-width:48rem;
	padding:0 .62rem;
	font:1.2rem/1.62 sans-serif;
}
h1,h2,h3 {
	line-height:1.2;
}
header h1{
	margin: 0.4rem 0;
	margin-top: 1.4rem;
}

a{
	text-decoration: none;
}
nav{
	list-style-type: none;
	padding: 0.2rem 0;
}
nav>a{
    padding: 0.5rem;
	padding-left: 0;
    margin-left: 2rem;
}
nav>a:first-child{
    padding: 0.5rem;
	padding-left: 0;
	margin-left: 0;
}
nav hr{
	margin: 0;
}

html, body {
	height: 100%;
}

ul{
	padding-left: 0;
	list-style-position: inside;
	display: inline-block;
	margin: 0;
}
ul p{
	display: inline-block;
	margin: 0.5rem 0;
}
footer p{
	margin: 0;
}

/* 
 * Flex is only there to put the footer at the bottom.
 * Not actually needed. BLOAT!!
*/
body {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}
main{
	flex: 1 0 auto;
}

@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000;}
	a:link {color:#9cf;}
	a:hover, a:visited:hover {color:#cef;}
	a:visited {color:#9ce;}
}

@media print{
	body{
		max-width:none
	}
}

@media screen and (max-width: 600px){
	h1, h2, h3, p, nav{
		text-align: center;
	}

	body{
		margin: 0.2rem;
	}
}
